/* font-family: "Merriweather", serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* banner style */
.banner{
    font-family: Merriweather;
    width: 1320px;
    height: 600px;
    margin: 50px 90px;
}
.banner-content{
    padding: 100px 344px;
    /* background-image: url(../images/Banner\ Image.png); */
    background: 
    linear-gradient(rgba(7,2,17,1), rgba(7,2,17,0)),
    url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    text-align: center;
}
.banner-title{
    font-size: 32px;
    color: #FFFFFF;
}
.banner-header{
    font-size: 72px;
    color: #FFFFFF;
}
/* discount style */
.discount{
    font-family: Inter;
    margin: 120px 400px;
    text-align: center;
    height: 800px;
}
.discount-header{
    color: #FF0000;
    font-weight: bold;
    font-size: 88px;
}
.discount-subtitle{
    color: #FF0000;
    font-weight: 500;
    font-size: 24px;
}
.discount-title{
    color: #070211;
    font-weight: bold;
    font-size: 48px;
}
.discount img{
    width: 100%;
    height: 90%;
}
/* greeting style */
.greeting{
    display: flex;
    gap: 40px;
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
}
.greetings{
    padding: 68px 126px;
}
.greeting-header{
    font-size: 64px;
    font-family: Merriweather;
    color: #FFFFFF;
}
.greeting-description{
    font-size: 18px;
    color: #FFFFFF;
    font-family: Inter;
}
.greeting-btn{
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
    color: #FFFFFF;
}
/* address style */
.address{
    margin: 120px 90px;
    background: linear-gradient(rgba(255, 0, 0, 0.281), rgba(255, 0, 0, 0.308));
    border-radius: 16px;
}
.address-content{
    /* background: linear-gradient(rgba(255, 0, 0, 1), rgba(255, 0, 0, 0)); */
    text-align: center;
    font-family: Inter;
    padding: 100px 300px;
}
.headers h3{
    font-weight: 600;
    font-size: 32px;
    color: #070211;
}
.headers span{
    color: red;
}
.btn{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
    border-radius: 8px;
    padding: 16px 32px;
}